body {
  background-color: #fdebb4;
  font-family: 'Open Sans', sans-serif;
}

#main-div {
  background-color: white;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  width: 50%;
  padding: 40px;
  border: 15px solid #92b4ec;
  border-radius: 10px;
  box-shadow: 6px 6px 0px #5e88cc;
}

#signup-text {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #92b4ec;
}

#subtext {
  margin-top: 5px;
  font-size: 20px;
  color: #939393;
}

#secondary-div {
  border: 0px solid black;
  width: 70%;
  text-align: left;
  height: auto;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

label:not(#terms, #tandc) {
  display: block;
  text-decoration: underline;
  text-decoration-color: #92b4ec;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

#secondary-div input:not(#tandc, #signupbutton) {
  width: 100%;
  height: 20px;
  border: 1px solid #939393;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

::placeholder {
  font-size: 15px;
}

#affiliation {
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
}

#terms > a {
  color: #6891d6;
}

#terms,
#tandc {
  display: inline;
}

#signupbutton {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  color: #040b30;
  background-color: #f4d376;
  padding: 10px 28px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  border: 1.5px solid black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

#signupbutton:hover {
  text-decoration: underline;
}
